.top-header {
    margin: 0 auto;
    max-width: 1360px;
    width: 100%;
}

.top-nav1 {
  display: flex;  
  margin: 35px 0 40px 40px;
}

.top-nav-ul {
    display: flex;
    margin-top: 11px;
    font-size: 16px;
    font-family: circular;
    font-weight: bold;
}

.top-nav-list {
    margin-left: 41px;
}

.top-nav-a {
    text-decoration: none;
    color: #717171;
}

.top-nav-list :hover {
    color: black;
}/* ヘッダー・デフォルト */

.top-nav2 {
  display: flex;  
  background-color: #fff;
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 20px 1px rgb(216, 216, 216);
  position: absolute;
  top: 0;
  position: fixed;
  display: none;
  z-index: 100;
}

.header {
    display: block;
    display: flex;
    width: 100%;
}

#logo {
    padding-top: 26px;
    padding-left: 40px;
}

#top-nav-ul {
    display: flex;
    margin-top: 11px;
    font-size: 16px;
    font-family: circular;
    font-weight: bold;    
}

.header-list {
    margin-left: 41px;
    line-height: 4em;
}

.header-a {
    text-decoration: none;
    color: #717171;
}

#top-nav-list :hover {
    color: black;
}

#top-btn {
    color: white;
    background: linear-gradient(#ff385c,#bd1e59);
    border: none;
    max-width: 228px;
    width: 100%;
    height: 34px;
    font-size: 14px;
    margin: 0 48px 49px 48px;
    border-radius: 0.5em;
    font-weight: bold;
    outline: none;
    position: absolute;
    top: 20px;
    right: 5px;
}

#top-btn:active {
    max-width: 215px;
    height: 30px;
    font-size: 13px;
    background: linear-gradient(rgb(255, 56, 93, 0.8),rgb(189, 30, 89, 0.8));
    margin: 5px 53px 5px 53px;
}/* ヘッダー・スクロール固定 */

.selected {
    color: black;
}

#top-img {
    margin: 0 auto;
    max-width: 1360px;
    padding: 0 40px 0 40px;
    position: relative;
}

.top-img {
    border-radius: 2%;
    max-width: 1360px;
    max-height: 680px;
    width: 100%;
    height: 100%;
}

.box-container {
    max-width: 1000px;
    width: 90%;
    height: 482px;
    position: absolute;
    top: 260px;
    right: 80px;
    box-shadow: 1px 1px 15px rgb(201, 201, 201);
    background-color: white;
    border-radius: 3%;
    display: flex;
    margin: 0 auto;
}

.box-content {
    border-right: 1px solid rgb(235,235,235);
    max-width: 440px;
    width: 100%;
}

.money {
    color: rgb(228, 30, 87);
}

.box-title {
    font-size: 39px;
    font-weight: bold;
    margin: 53px 51px 48px 48px;
    line-height: 1.2em;  
}

.box-a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: above;
    margin: 50px 0 0 50px;
}

.box-scroll {
    max-width: 496px;
    width: 90%;
}

.box-input {
    max-width: 404px;
    width: 100%;
    margin: 0 auto
}

.box-input-click {
    overflow-y: auto;
    height: 375px;
    -ms-overflow-style: none;
    -webkit-scrollbar: none;
    scrollbar-width: none;
}

.box-input::-webkit-scrollbar {
    display: none;
}

.input-section1 {
    max-width: 382px;
    width: 100%;
    height: 170px;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 0.67em;
}

#section1, #border1, #section3, #border3, #border2 {
    background-color: #fff;
}

.box-input-text {
    max-width: 400px;
    width: 96%;
    height: 55px;
    font-size: 16px;
    padding-left: 12px;
    border: none;
    border-bottom: 1px solid rgb(176, 176, 176);
}

.box-input select {
    max-width: 382px;
    width: 100%;
    height: 55px;
    font-size: 16px;
    padding-left: 8px;
    border-style: none;
}

.input-about {
    font-size: 18px;
    line-height: 1.3em;
    margin: 46px auto 36px auto;
}

#border1 {
    border-top: 1px solid rgb(176, 176, 176);
}

#border2 {
    border-top: 1px solid rgb(176, 176, 176);
}

#border3 {
    border-top: 1px solid rgb(176, 176, 176);
}

.input-plus1 {
    font-size: 14px;
    font-weight: bold;
    margin: 18px 40px 30px 0;
}

.input-plus1:hover {
    cursor: pointer;
}

.input-plus1-click {
    display: none;
}

.input-plus2 {
    font-size: 14px;
    font-weight: bold;
    margin: 18px 40px 30px 0;
    display: none;
}

.input-plus2-click {
    display: block;
}

.input-plus2-click2 {
    display: none;
}

.input-plus2:hover {
    cursor: pointer;
}

/* クリックイベント */

.btn-section {
    max-width: 495px;
    width: 100%;
    height: 105px;
    text-align: center;
}

.btn-section-click {
    border-top: 1px solid rgb(235, 235, 235);
}

.top-btn {
    color: white;
    background: linear-gradient(#ff385c,#bd1e59);
    border: none;
    max-width: 389px;
    width: 80%;
    height: 56px;
    font-size: 18px;
    border-radius: 0.5em;
    font-weight: bold;
    outline: none;
}

.top-btn-click {
    margin-top: 25px;
}

.top-btn:active {
    max-width: 379px;
    height: 50px;
    font-size: 17px;
    background: linear-gradient(rgb(255, 56, 93, 0.8),rgb(189, 30, 89, 0.8));
    margin: 5px 53px 5px 53px;
}

.top-btn-click:active {
    margin-top: 30px;
}

/* クリックイベント・セクション2 */
.input-section2 {
    max-width: 382px;
    width: 100%;
    height: 170px;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 0.67em;
    display: none;
}

.input-section2-click {
    display: block;
    margin-top: 24px;
}

/* クリックイベント・セクション3 */

.input-section3-click {
    display: block;
}

.input-section3-tx {
    display: none;
    margin: 36px 36px 36px 0;
}

.input-section3-tx-click {
    display: block;
}

.checkbox-container {
    display: flex;
}

.checkbox-section1 {
    display: none;
    width: 170px;
    height: 143px;
}

.checkbox-section1-click {
    display: block;
}

.checkbox-section2 {
    display: none;
    width: 151px;
    height: 143px;
}

.checkbox-section2-click {
    display: block;
}

.check1-box {
    margin-bottom: 30px;
}

.check2-box {
    margin-bottom: 30px;
}

.check3-box {
    padding-bottom: 70px;
}

.check4-box {
    margin-bottom: 30px;
}

.check5-box {
    margin-bottom: 30px;
}

.label-1 {
    font-size: 16px;
    color: rgb(34, 34, 34);
    padding-left: 10px;
    padding-right: 100px;
}

.label-2 span {
    padding-left: 35px;
}

.label-2 {
    width: 3px;
    font-size: 16px;
    color: rgb(34, 34, 34);
    padding-left: 10px;
}
.label-3 {
    font-size: 16px;
    color: rgb(34, 34, 34);
    padding-left: 10px;
}
.label-4 {
    font-size: 16px;
    color: rgb(34, 34, 34);
    padding-left: 10px;
}

.label-4 span {
    padding-left: 35px;
}

.label-5 {
    font-size: 16px;
    color: rgb(34, 34, 34);
    padding-left: 10px;
}




.main-top {
    max-width: 945px;
    width: 100%;
    height: 146px;
    padding: 138px 0 114px 0px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.main1 {
    width: 435px;
    height: 146px;
}

.main2 {
    width: 435px;
    height: 146px;
}

.main-tx {
    font-size: 24px;
    font-weight: bold;
    color: rgb(72, 72, 72);
    margin-bottom: 28px;
}

.tx {
    font-size: 16px;
    color: rgb(72, 72, 72);
    line-height: 1.8em;
}

.main-section {
    text-align: center;
}

.border {
    border: 1px solid rgb(118, 118, 118);
    width: 64px;
    margin: 0 auto;
}

.main-title {
    color: rgb(51, 51, 51);
    font-size: 60px;
    font-weight: bold;
    margin-top: 24px;
}

#service {
    display: flex;
    max-width: 1008px;
    width: 100%;
    height: 362px;
    justify-content: space-between;
    margin: 0 auto;
}

.service {
    display: flex;
    max-width: 1008px;
    width: 100%;
    height: 362px;
    justify-content: space-between;
    margin: 0 auto;
}

.service-item1 {
    width: 289px;
    height: 289px;
}

.service-item2 {
    width: 289px;
    height: 289px;
}

.service-item3 {
    width: 289px;
    height: 289px;
}

.mark1 {
    margin: 60px 0 20px 0;
}

.check {
    text-decoration: none;
    color: rgb(0, 132, 137);
    display: inline-block;
    margin-top: 30px;
}

.check:hover {
    text-decoration: underline;
    text-underline-position: above;
}

.note1 {
    max-width: 1005px;
    width: 100%;
    height: 504px;
    display: flex;
    justify-content: space-between;
    padding: 160px 0 155px 0;
    margin: 0 auto;
}

.note-item1 {
    width: 405px;
    height: 471px;
    margin-top: 32px;
}

.mark2 {
    font-size: 100px;
    color: rgb(253, 179, 43);
    height: 38px;
}

.note-text {
    font-size: 30px;
    color: rgb(72, 72, 72);
    line-height: 1.3em;
}

.note-tx {
    margin: 25px 0 25px 0;
    color: rgb(118, 118, 118);
}

.link-box {
    display: block;
    color: #484848;
    font-size: 16px;
    padding: 10px 22px 10px 22px;
    text-decoration: none;
    border: 2px solid rgb(72, 72, 72);
    border-radius: 0.3em;
    font-weight: bold;
    width: 176px;
}

.link-box:active {
    background-color: rgb(235, 235, 235);    
}

.note-img1 {
    width: 503px;
    height: 504px;
}

.content-box {
    display: flex;
    max-width: 1037px;
    width: 100%;
    height: 270px;
    padding-top: 70px;
    margin: 0 auto;
}

.content-tx {
    max-width: 422px;
    width: 100%;
    height: 248px;
    margin-top: 23px;
    padding-right: 80px;
}

.content-li {
    width: 400px;
    height: 238px;
}

.content-list {
    display: flex;
    font-size: 16px;
    color: rgb(72, 72, 72);
    line-height: 2.5em;
}

.mark3 {
    padding: 10px 15px 10px 10px;
}

.second-img {
    max-width: 1032px;
    width: 100%;
    height: 580px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 157px;
    display: block;
}

.main-title-1 {
    color: rgb(51, 51, 51);
    font-size: 60px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 73px;
}

.work1 {
    width: 295px;
    height: 289px;
}

.work2 {
    width: 295px;
    height: 289px;
}

.work3 {
    width: 295px;
    height: 289px;
}

.note2 {
    max-width: 1005px;
    width: 100%;
    height: 504px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 155px 0;
    margin: 0 auto;
}

.note-item2 {
    width: 405px;
    height: 471px;
    margin-top: 62px;
    order: 1;
}

.note-img2 {
    width: 516px;
    height: 516px;
}

.main-sub {
    max-width: 980px;
    width: 100%;
    height: 146px;
    padding-bottom: 210px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-sub-1 {
    width: 445px;
    height: 146px;
}

.main-sub-2 {
    width: 446px;
    height: 168px;
}

.info {
    max-width: 1009px;
    width: 100%;
    height: 230px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.info-section1 {
    width: 493px;
    color: rgb(0, 132, 137);
}

.info-section2 {
    width: 493px;
    color: rgb(0, 132, 137);
}

.Q {
    font-size: 18px;
    border-bottom: 1px solid rgb(235,235,235);
    line-height: 4em;
}

.Q:hover {
    text-decoration: underline;
    text-underline-position: above;
}

.answer {
    display: none;
}

.main-text {
    max-width: 1032px;
    width: 100%;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(72, 72, 72);
    padding: 90px 0 20px 0;
    margin: 0 auto;
}

.box-item {
    display: flex;
    max-width: 1017px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    line-height: 1.8em;
    flex-wrap: wrap;
}

.box-item-img {
    width: 330px;
    height: 171px;
}

.box-text {
    font-size: 16px;
    color: rgb(72, 72, 72);
    font-weight: bold;
}

.box-tx {
    font-size: 14px;
    color: rgb(72, 72, 72);
}

.item1 {
    position: relative;
}

.item1:active {
    box-shadow: 0 0 3px 1px #008489;
}

.box-item span {
    color: #008489;
    font-size: 14px;
}

.details1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.item2 {
    position: relative;
}

.item2:active {
    box-shadow: 0 0 3px 1px #008489;
}

.details2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.item3 {
    position: relative;
}

.item3:active {
    box-shadow: 0 0 3px 1px #008489;
}

.details3 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.content-access {
    max-width: 1280px;
    max-height: 440px;
    margin: 0 auto;
    margin-top: 90px;
    position: relative;
}

.catch-img {
    width: 100%;
    height: 100%;
}

.catch-copy {
    color: white;
    font-size: 60px;
    position: absolute;
    width: 430px;
    height: 128px;
    top: 100px;
    left: 125px;
    font-weight: bold;
}

.catch-btn {
    width: 113px;
    height: 49px;
    color: rgb(72, 72, 72);
    background-color: #fff;
    font: 16px;
    text-decoration: none;
    position: absolute;
    top: 260px;
    left: 123px;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
    border-radius: 0.3em;
}

.catch-btn:active {
    background-color: rgb(235, 235, 235);    
}

.footer {
    margin-top: 63px;
    height: 544px;
    background-color: rgb(247, 247, 247);
    border-top: 1px solid rgb(221, 221, 221);
}

.box-item-about {
    max-width: 1280px;
    width: 90%;
    height: 393px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 50px;
    margin-bottom: 26px;
}

.box-tx-h4 {
    font-size: 12px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 2.5em;
    margin-top: 49px;
}

.box-about-tx {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 14px;
    line-height: 2.5em;
}

.box-about-tx:hover {
    text-decoration: underline;
    text-underline-position: above;
}



.small {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.footer-link2 {
    display: flex;
}

.company-link {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 14px;
    line-height: 1.3em;
}

.company-link:hover {
    text-decoration: underline;
    text-underline-position: above;
}

.link-small {
    display: flex;
}

.small-tx {
    font-size: 14px;
    color: rgb(34, 34, 34);
    line-height: 1.3em;
}

.company-about {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 14px;
    line-height: 15px;
}

.link-small span {
    padding: 0 7px 0 7px;
}

.company-about:hover {
    text-decoration: underline;
    text-underline-position: above;
}

#jp {
    display: flex;
}

#jp:hover {
    opacity: 0.7;
    cursor: pointer;
}

#jp p {
    font-size: 14px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    padding-left: 5px;
    line-height: 20px;
    text-decoration: underline;
    text-underline-position: above;
    margin-right: 25px;
}

#jpy {
    display: flex;
}

#jpy:hover {
    opacity: 0.7;
    cursor: pointer;
}

#jpy span {
    font-size: 14px;
    line-height: 20px;
}

#jpy p {
    font-size: 14px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    padding-left: 5px;
    line-height: 20px;
    text-decoration: underline;
    text-underline-position: above;
    margin-right: 60px;
}

#sns {
    display: flex;
}

#facebook:hover {
    opacity: 0.7;
}

#twitter {
    padding: 0 29px 0 29px;
}

#twitter:hover {
    opacity: 0.7;
}

#instagram:hover {
    opacity: 0.7;
}

.footer-fixed {
    display: none;
}

/* レスポンシブ（タブレット） */

@media (max-width: 1127px) {
    #top-section {
        height: 870px;
    }

    .btn-section-click {
        padding-top: 25px;
    }
    
    .box-container {
        position: absolute;
        top: 300px;
        left: 38px;
        width: 90%;
        box-sizing: border-box;
    }

    .box-content {
        max-width: 500px;
        width: 50%;
        flex-grow: 1;
    }

    .box-title {
        font-size: 31px;
    }

    .box-scroll {
        flex-grow: 1;
        max-width: 482px;
        width: 50%;
    }

    .box-input {
        width: 80%;
    }

    .box-input-text {
        width: 93%;
    }

    .top-btn {
        margin: 0px auto;
    }

    .top-btn:active {
        margin: 5px 10px 0 5px;
    }

    .main-top {
        flex-direction: column;
        height: 350px;
        width: 538px;
        margin-bottom: 80px;
        padding: 0;
    }

    .main1 {
        max-width: 540px;
        width: 100%;
    }

    .main2 {
        max-width: 540px;
        width: 100%;
    }

    .main-title {
        font-size: 40px;
    }

    .service {
        flex-direction: column;
        width: 507px;
        height: 800px;
    }

    .service-item1 {
        max-width: 530px;
        width: 100%;
    }

    .service-item2 {
        max-width: 530px;
        width: 100%;
    }

    .service-item3 {
        max-width: 530px;
        width: 100%;
    }

    .note1 {
        width: 75%;
        height: 450px;
        justify-content: center;
        padding-bottom: 0;
    }

    .note-item1 {
        max-width: 405px;
        width: 270px;
        padding-right: 50px;
        margin-top: 0;
    }

    .note-img1 {
        width: 324px;
        height: 324px;
    }

    .note-text {
        font-size: 18px;
        line-height: 1.5em;
    }

    .tx {
        font-size: 16px;
    }

    .note-tx {
        margin: 10px 0 10px 0;
        font-size: 14px;
    }

    .note2 {
        width: 75%;
        height: 450px;
        justify-content: center;
        padding-bottom: 0;
    }

    .note-item2 {
        max-width: 405px;
        width: 270px;
        padding-left: 50px;
        margin-top: 0;
    }

    .note-img2 {
        width: 324px;
        height: 324px;
    }

    .mark2 {
        font-size: 60px;
    }

    .content-box {
        flex-direction: column;
        width: 570px;
        height: 509px;
    }

    .content-tx {
        padding-right: 0;
        max-width: 570px;
        width: 570px;
    }

    #service {
        flex-direction: column;
        width: 507px;
        height: 447px;
        margin-bottom: 150px;
    }

    .second-img {
        width: 648px;
        height: 411px;
        padding-top: 100px;
    }

    .main-title-1 {
        font-size: 40px;
    }

    .work1, .work2, .work3 {
        width: 507px;
        height: 115px;
    }

    .main-sub {
        flex-direction: column;
        height: 357px;
        width: 540px;
        padding-bottom: 140px;
    }

    .main-sub-1, .main-sub-2 {
        width: 540px;
    }

    .Q {
        font-size: 16px;
    }

    .info {
        max-width: 700px;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .info-section1, .info-section2 {
        width: 700px;
    }

    .main-text {
        width: 676px;
    }

    .box-item {
        justify-content: center;
    }

    .item1, .item2, .item3 {
        box-shadow: 0 0 3px 1px #c4c4c4;
    }

    .item1 span, .item2 span, .item3 span {
        display: none;
    }

    .item1:active, .item2:active, .item3:active {
        box-shadow: none;
    }

    .item2 {
        margin: 0 30px;
    }

    .box-item-img {
        width: 203px;
        height: 104px;
    }

    .box-text, .box-tx {
        font-size: 14px;
        margin-left: 10px;
    }

    .catch-copy {
        width: 330px;
        font-size: 40px;
        left: 233px;
    }

    .catch-btn {
        top: 209px;
        left: 233px;
    }

    .catch-img {
        height: 440px;
    }

    .box-item-about {
        flex-direction: column;
        border: none;
        height: 650px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .box-item1 ul, .box-item2 ul, .box-item3 ul, .box-item4 ul {
        display: flex;
        flex-wrap: wrap;
    }

    .box-item1 li, .box-item2 li, .box-item3 li, .box-item4 li {
        max-width: 1014px;
        width: 33%;
    }

    .box-item1, .box-item2, .box-item3 {
        border-bottom: 1px solid rgb(221, 221, 221);
        padding-bottom: 20px;
        height: 150px;
    }

    .box-item4 {
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(221, 221, 221);
    }

    .box-item1 {
        padding-top: 10px;
    }

    .box-tx-h4 {
        margin-top: 20px;
    }
    
    .footer {
        height: 774px;
    }

    .small {
        height: 100px;
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 20px;
    }

    .footer-link2 {
        margin: 0 auto;
        padding-top: 7px;
    }

    .link-small {
        flex-direction: column;
    }

}

/* レスポンシブ（スマホ） */

@media (max-width: 743px) {
    #top-img {
        max-width: 743px;
        width: 100%;
        height: 50%;
        padding: 0;
        text-align: center;
    }

    #top-section {
        height: auto;
    }

    .top-img {
        max-width: 743px;
        width: 90%;
        height: 60%;
    }

    .box-container {
        position: static;
        box-shadow: none;
        flex-direction: column;
        max-width: 743px;
        width: 100%;
        height: 100%;
    }

    .box-content {
        border: none;
        max-width: 743px;
        width: 100%;
        border-bottom: 1px solid rgb(235,235,235);
    }

    .box-title {
        margin: 20px auto;
        padding: 0 30px;
        text-align: initial;
    }

    .box-content p {
        text-align: initial;
        margin-bottom: 30px;
    }
    
    .box-a {
        margin: 0;
        padding: 0 30px;
    }

    .box-scroll {
        max-width: 743px;
        width: 100%;
        height: 50%;
        margin-top: 30px;
    }

    .box-input {
        max-width: 743px;
        width: 90%;
    }

    .input-about {
        text-align: initial;
        margin-top: 0px;
    }

    .input-section1, .input-section2 {
        max-width: 743px;
        width: 100%;
    }

    .box-input {
        height: 100%;
    }

    .box-input-text {
        max-width: 647px;
        width: 96%;
        padding-left: 0;
    }

    .input-plus1, .input-plus2, .input-section3 {
        text-align: initial;
    }

    .box-input-click {
        overflow-y: initial;
    }

    .input-section1 select, .input-section2 select {
        max-width: 743px;
        width: 100%
    }

    .btn-section {
        max-width: 743px;
    }

    .top-btn {
        max-width: 743px;
        width: 90%;
    }

    .checkbox-container {
        margin-bottom: 30px;
        justify-content: space-between;
    }

    .checkbox-section2 {
        margin-right: 30px;
    }

    .main-top {
        margin: 0;
        max-width: 743px;
        width: 100%;
        height: auto;
    }

    .main1, .main2 {
        max-width: 743px;
        width: 90%;
        margin: 0 auto;
        height: auto;
    }

    .main1 {
        margin-top: 3px;
        padding-bottom: 50px;
    }

    .border {
        margin: 80px 0 0 0
    }
    
    .main-section {
        text-align: initial;
        margin: 0 auto;
        width: 90%;
    }

    .service {
        margin: 0;
        max-width: 743px;
        width: 100%;
    }

    .service-item1, .service-item2, .service-item3 {
        max-width: 743px;
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .note1 {
        flex-direction: column-reverse;
        max-width: 743px;
        width: 100%;
        padding-top: 0;
        height: auto;
    }

    .note2  {
        flex-direction: column;
        max-width: 743px;
        width: 100%;
        padding-top: 0;
        height: auto;
    }

    .note-img1, .note-img2 {
        margin: 0 auto;
        height: auto;
        width: 90%;
        margin-top: 100px;
        margin-bottom: 10px;
    }

    .note-item1, .note-item2 {
        margin: 0 auto;
        max-width: 743px;
        width: 90%;
        padding: 0;
        height: auto;
    }

    .content-box, #service, .main-sub, .info-section1, .info-section2, .main-text, .footer-link2 {
        margin: 0;
        max-width: 743px;
        width: 100%;
        height: auto;
    }

    .info {
        height: auto;
    }

    .main-sub {
        padding: 0;
    }

    .content-tx, .content-li, .work1, .work2, .work3, .main-sub-1, .main-sub-2, .main-text, .item1, .item2, .item3 {
        max-width: 743px;
        width: 90%;
        margin: 0 auto;
        height: auto;
    }

    .work2, .work3, .main-sub-2 {
        margin-top: 50px;
    }

    .check {
        margin-bottom: 30px;
    }

    .second-img {
        margin-top: 80px;
        max-width: 743px;
        width: 90%;
        height: auto;
        padding: 0;
    }

    .Q {
        margin: 0 auto;
        max-width: 743px;
        width: 90%;
    }

    .box-item {
        flex-direction: column;
    }

    .item2 {
        margin: 20px auto;
    }

    .item1, .item2, .item3 {
        display: flex;
    }

    .box-item-img {
        width: 30%;
        height: auto;
    }

    .box-text {
        margin-top: 10px;
    }

    .catch-img {
        height: 375px;
        top: 70px;
        left: 30px;
    }

    .catch-copy {
        top: 70px;
        left: 30px;
        max-width: 330px;
        width: auto;
    }

    .catch-btn {
        top: 180px;
        left: 30px;
    }

    .box-item-about ul {
        flex-direction: column;
    }

    .box-item-about li {
        width: auto;
    }

    .box-item-about, .footer, .box-item1, .box-item2, .box-item3, .box-item4 {
        height: auto;
    }

    .small {
        text-align: initial;
        line-height: 1.8em;
        padding-bottom: 20px;
        height: auto;
    }

    .footer-link2 {
        margin: 10px;
    }

    #sns {
        display: none;
    }

    #media-event {
        display: none;
    }
    
    #top-btn {
        display: none;
    }

    #top-nav-ul {
        position: absolute;
        left: 0;
    }

    .header-list {
        margin-left: 20px;
    }

    .footer-btn {
        color: white;
        background: linear-gradient(#ff385c,#bd1e59);
        border: none;
        max-width: 228px;
        width: 100%;
        height: 34px;
        font-size: 14px;
        border-radius: 0.5em;
        font-weight: bold;
        outline: none;
        position: absolute;
        top: 15px;
        right: 30px;
    }

    .footer-btn:active {
        max-width: 215px;
        height: 30px;
        font-size: 13px;
        background: linear-gradient(rgb(255, 56, 93, 0.8),rgb(189, 30, 89, 0.8));
        margin: 5px 5px 0 0;    
    }

    .footer-fixed {
        background-color: #fff;
        width: 100%;
        height: 70px;
        box-shadow: 0px 0px 20px 1px rgb(216, 216, 216);
        position: absolute;
        bottom: 0;
        position: fixed;
        display: none;
        z-index: 200;
      }

    .footer-media {
        display: block;
        display: flex;    
    }

}


/* ヘッダー */
@media (max-width: 465px) {
    .top-nav-list {
        margin-left: 20px;
    }

    .top-nav1 {
        margin-left: 20px;
    }
      
}


@media (max-width: 385px) {
    .label-1 {
        padding-right: 0;
    }

    .label-2 span, .label-4 span {
        padding-left: 0;
    }
}






